$font-stack: 'Roboto', sans-serif;
$color-primary: rgba(6, 11, 53, 1);
$color-secundary: rgba(97, 96, 112, 1);
$color-terciary: rgba(0, 172, 220, 1);
$color-quartenary: rgba(255, 255, 255, 1);
$color-button-hover: #fff;
$color-text-button-hover: #00acdc;
$color-button: white;
$color-border: rgba(243, 243, 243, 1);
$color-title: #34568b;
$duration: 300ms;
